.body {
  text-align: center;
  background-color: gray;
}
.content {
  background-color:gray;  

}
.input{
  margin-top: 20px;
  width: 25%;
  float:left;
  
}
.input button{
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  
}
.finalPack{
  justify-content: right;
  align-items: right;
  width: 50%;
  float: right;

}
